# ---- build ----
target/
*.class
*.jar
*.war
build/

# ---- logs ----
*.log
logs/

# ---- IDE ----
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/

# ---- SO ----
.DS_Store
Thumbs.db

# ---- Maven ----
.mvn/wrapper/maven-wrapper.jar


# ---- Application.properties --- 
application.properties
.env
*.pem
*.key
